<%- include('./../partials/header') %>

<div class="level">
  <h1 class="label"><%= user.name %></h1>

</div>
<div class="field is-grouped is-grouped-centered">
  <form class="" action="/users/<%= user.id %>/update" method="PUT">
    <label class="label">What equipment do you have?</label>
      <div class="control">
        <input class="input" type='text' value="" nam='equipment'>
          <p class="help">Seperate with comments</p>
      </div>
      <button class="button" type="submit">Save Review</button>
      </div>
    </form>
</div>
<%- include('./../partials/footer') %>
