<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/bulma-0.7.4/css/bulma.css">
  <script src="https://unpkg.com/feather-icons">feather.replace()</script>
</head>
<body class="has-navbar is-fixed-top">
  <nav class='navbar' role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src='/images/coffee.svg' alt="coffee icon">
        <h1 class="label">Coffee Snob</h1>
      </a>
      <div class="container">

      </div>
        <div class="navbar-right nav-menu">
          <label class="nav-toggle" for="nav-toggle-state">
          </div>
          <span></span>
          <span></span>
          <span></span>
        </label>
        <a class="navbar-item label" href='/coffees'>View Coffees</a>
        <div class="container navbar-item">
        <% if (user) { %>
          <a class="navbar-item label" href="/users/<%= user._id %>/">Edit Profile</a>
          <a class="navbar-item label" href='/coffees/new'>Add Coffee</a>
          <a class="navbar-item label" href="/logout">Log Out</a>
        <% } else { %>
          <a href="/auth/google"><i class=""></i>Login with Google</a>
        <% }; %>
        </div>
      </div>
    </div>
  </nav>

  <section class="hero is-primary is-small">
    <div class="hero-body">
      <div class="container level-left">
        <h1 class="title"><%= title %></h1>
      </div>
    </div>
    <div class="hero-space">

    </div>
  </section>
<main>
