<%- include('./partials/header') %>

  <div class="container" id=landing-image>
    <h1 class='title is-white'>
      <%-
          `Welcome to Coffee Snob,
              A coffee review site for your favorite beans.`
              %>
    </h1>
  </div>



<%- include('./partials/footer') %>
