<%- include('./../partials/header') %>
  <div class="tile is-ancestor">
  <% coffees.forEach(function(c){%>
    <div class="tile">
      <h4><%= c.name %></h4>
    </div>
  <% }) %>
</div>

<%- include('./../partials/footer') %>
