<%- include('./../partials/header') %>

  <div class="field is-grouped is-grouped-centered">
    <form class="" action="/coffees" method="POST">
      <label class="label">Coffee name:</label>
      <div class="control">
        <input class="input" type="text" name="name" value="">
      </div>
      <label class ="label">Region:</label>
      <div class="control">
        <input class="input" type="text" name="region" value="">
      </div>
      <label class="label">Roasted by:</label>
      <div class="control">
        <input class="input" type="text" name="roaster" value="">
      </div>
      <label class="label">link to webpage:</label>
        <div class="control">
        <input class="input" type="text" name="link" value="">
        <p class="help">Ex: https://www.andytownsf.com/purchase/ethiopia-washed-bedhatu-jibicho</p>
        </div>
      <label class="label">Link to an image of the coffee:</label>
      <div class="control">
        <input class="input" name="imageLink"></input>
        <p class="help">Ex:https://images.squarespace-cdn.com/content/BedhatuJibicho_small.jpg</p>
      </div>
      <label class="label">Other information:</label>
      <div class="control">
        <textarea class="textarea" name="description"></textarea>
      </div>
      <button class="button" type="submit" name="add-coffee">Submit coffeee</button>
    </form>
  </div>

<%- include('./../partials/footer') %>
