<%- include('./../partials/header') %>

    <form class="" action="/coffee" method="POST">
      <label>Coffee name:
        <input type="text" name="name" value="">
      </label>
      <label>Region:
        <input type="text" name="region" value="">
      </label>
      <label>Roasted by:
        <input type="text" name="roaster" value="">
      </label>
      <label>Other information:
        <input type="text" name="discription" value="">
      </label>
      <label>link to webpage:
        <input type="text" name="link" value="">
      </label>
      <button type="submit" name="add-coffee">Submit coffeee</button>
    </form>

<%- include('./../partials/footer') %>
