<%- include('./../partials/header') %>
<div class="field is-grouped is-grouped-centered">
  <form class="" action="/coffees/<%= coffee.id %>/reviews" method="POST">
    <label class="label">Overall Score:</label>
      <div class="control">
        <div class="select">
          <select class="" name="score">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      </div>
    <label class="label">How was it brewed:</label>
      <div class="control">
        <input class="input" type="text" name="brewStyle" value="">
      </div>
    <label class ="label">Flavor Notes:</label>
    <div class="control">
      <input class="input" type="text" name="flavorNotes" value="">
      <p class="help">seperate with commas</p>
    </div>
      <label class="label">Review:</label>
      <div class="control">
        <textarea class="textarea" name="reviewText"></textarea>
      <div class="control">
        <button class="button" type="submit">Save Review</button>
      </div>
    </form>
</div>

<%- include('./../partials/footer') %>
