body {
  padding: 10vw 10vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#landing-image {
  height: 80vh;
  width: 100vw;
  background-image: url("/images/marc-babin-676189-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#nav-toggle-state {
  display: none;
}

#nav-toggle-state:checked ~ .nav-menu {
  display: block;
}

.hero-space{
  margin-bottom: 15px;
}

.coffee-show-image{
  max-width: 25vh;
  max-width: 25vh;
}

.container{
  padding: 10px;
}
